.dish-day {
  padding-top: 80px;
  padding-bottom: 90px;

  &__container {
    display: flex;
    column-gap: 34px;

    @include tablet {
      flex-direction: column;
      gap: 30px 0;
    }
  }

  &__descr {
    flex: 0 0 469px;
  }

  &__day {
    border-bottom: 1px solid $border-color;
    padding-bottom: 20px;

    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  &__foto {
    display: flex;
    column-gap: 22px;
  }

  @include mobile {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.day {
  &__title {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 133.333%;

    @include tablet {
      font-size: 18px;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 177.778%;

    img {
      padding: 0 12px;
      object-fit: none;
    }

    @include tablet {
      font-size: 14px;
    }
  }

  &__subtitle {
    margin: 0;

    @include medium-mobile {
      min-width: 120px;
    }
  }

  &__descr {
    margin: 0;
  }
}

.foto-day {
  position: relative;

  &__elem {
    position: absolute;
    left: 96px;
    top: 49px;
    border: 2px solid $red-color;
    width: calc(100% - 196px);
    height: calc(100% - 135px);

    @include medium-mobile {
      display: none;
    }
  }

  &__image {
    position: relative;
    z-index: 1;

    @include medium-mobile {
      width: 100%;
    }
  }

  &__image--bottom {
    margin-top: 152px;

    @include medium-mobile {
      margin-top: 0;
    }
  }

  @include tablet {
    justify-content: center;
  }

  @include medium-mobile {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
}
