.burger {
  @include burger;
  color: $text-light-color;
  --burger-height: 20px;
  display: none;
  z-index: 150;
  @include tablet {
    display: block;
  }
}
// @include big-desktop { бреак поинт

// }

.header {
  padding: 55px 0;
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  min-height: 165px;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
  }


  &__logo {
    width: 269px;
    height: 55px;
    @include mobile {
      width: 150px;
      height: 35px;
    }
  }

  &__nav {
  }

  &__call {
    min-width: 186px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include mobile {
      min-width: auto;
    }
  }

  &__contact {
    position: relative;
    padding-left: 35px;
    color: $text-light-color;
    font-weight: 400;
    line-height: 150%;
		transition: all 0.2s ease-out;
    &::before {
      content: url('../img/icon/icon-tel.svg');
      position: absolute;
      left: 0;
      top: 0;
      width: 24px;
      height: 24px;
      display: block;
      @include mobile {
        top: -10px;
      }
    }
    @media (any-hover: hover){
      &:hover{
        color: $red-color;
      }
    }
    @include mobile {
      span {
        display: none;
      }
    }
  }
}

.nav {

  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 35px;
  }

  &__item {
    font-weight: 400;
    line-height: 150%;
    color: $text-light-color;
		transition: all 0.2s ease-out;
    @media (any-hover: hover){
      &:hover{
        color: $red-color;
      }
    }
  }

  &__link {
    padding: 5px;
  }
  @include tablet {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    overflow-y: auto;
    width: 100%;
    height: 100vh;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $akcent-color;
    transform: translateX(-100%);
		transition: all 0.2s ease-out;
    &__list {
      flex-direction: column;
      row-gap: 20px;
      align-items: center;
      width: 100%;
      font-size: 50px;
    }
  }
}

.nav.menu--active {
  transform: translateX(0);
}
