.reviews {
  padding: 220px 0;
  background-color: $akcent-color;

  @include medium-tablet {
    padding: 100px 0;
  }

  @include mobile {
    padding: 50px 0;
  }
}

.reviews-slider {
  position: relative;

  &__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__body {
    max-width: 785px;
    text-align: center;

    @include medium-tablet {
      max-width: 500px;
    }

    @include mobile {
      max-width: 100%;
    }
  }

  &__icon {
    display: inline;
    margin-bottom: 34px;

    @include medium-tablet {
      margin-bottom: 20px;
      width: 50px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 36px;
    line-height: 111.111%;
    color: $red-color;

    @include mobile {
      font-size: 28px;
    }
  }

  &__descr {
    margin: 0;
    margin-bottom: 40px;
    line-height: 250%;
    color: $text-light-color;

    @include medium-tablet {
      margin-bottom: 20px;
    }
  }

  &__aftor {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 166.667%;
    letter-spacing: 5.88px;
    text-transform: uppercase;
    color: $red-color;

    @include mobile {
      font-size: 20px;
    }
  }
}

.slider-button-prev,
.slider-button-next {
  position: absolute;
  top: 50%;
  z-index: 5;
  width: 70px;
  height: 70px;
  transform: translateY(-50%);
  cursor: pointer;

  @include medium-mobile {
    top: 25px;
  }
}

.slider-button-prev {
  left: -22px;
}

.slider-button-next {
  right: -22px;
}

.arrow-prew,
.arrow-next {
  width: 100%;
  height: 100%;
  fill: transparent;
}

.arrow-prew {
  stroke: $text-light-color;
}

.arrow-next {
  stroke: $red-color;
  transform: rotate(180deg);
}
