.form {
  &__title {
    margin-bottom: 29px;
    font-weight: 700;
    font-size: 48px;
    line-height: 183.333%;

    @include mobile {
      font-size: 30px;
    }
  }

  &__top {
    display: flex;
    column-gap: 19px;
    margin-bottom: 20px;
    width: 100%;

    @include mobile {
      flex-direction: column;
    }
  }

  &__name {
    display: block;
    margin-bottom: 10px;
    line-height: 200%;
  }

  &__label {
    width: 100%;
  }

  &__input {
    border: 1px solid #ccc;
    padding: 16px 28px;
    width: 100%;

    &::placeholder {
      font-size: 16px;
      line-height: 150%;
      color: #808080;
    }

    &.just-validate-error-field {
      border: 1px solid $red-color;
    }
  }

  &__textarea {
    margin-bottom: 20px;
    width: 100%;
    min-height: 125px;
  }

  &__btn {
    padding: 38px 104px;

    @include mobile {
      width: 100%;
    }
  }
}
