<section class="dish-day" id="home">
  <div class="dish-day__container container">
    <div class="dish-day__descr">
      <div class="dish-day__day day">
        <h2 class="day__title title-reset">Woensdag 12/01</h2>
        <div class="day__bottom">
          <p class="day__subtitle">Salade met Serrano</p>
          <img src="img/icon/points.svg" alt="точки">
          <p class="day__descr">Steak Tartaar</p>
        </div>
      </div>
      <div class="dish-day__day day">
        <h2 class="day__title title-reset">Donderdag 13/01</h2>
        <div class="day__bottom">
          <p class="day__subtitle">Toast Roquefort</p>
          <img src="img/icon/points.svg" alt="точки">
          <p class="day__descr">Penne met Kip en Prei</p>
        </div>
      </div>
      <div class="dish-day__day day">
        <h2 class="day__title title-reset">Vrijdag 14/01</h2>
        <div class="day__bottom">
          <p class="day__subtitle">Verrassing van de Chef</p>
          <img src="img/icon/points.svg" alt="точки">
          <p class="day__descr">Penne met Kip en Prei</p>
        </div>
      </div>
      <div class="dish-day__day day">
        <h2 class="day__title title-reset">Vrijdag 15/01</h2>
        <div class="day__bottom">
          <p class="day__subtitle">Verrassing van de Chef</p>
          <img src="img/icon/points.svg" alt="точки">
          <p class="day__descr">Penne met Kip en Prei</p>
        </div>
      </div>
      <div class="dish-day__day day">
        <h2 class="day__title title-reset">VVrijdag 16/01</h2>
        <div class="day__bottom">
          <p class="day__subtitle">Verrassing van de Chef</p>
          <img src="img/icon/points.svg" alt="точки">
          <p class="day__descr">Penne met Kip en Prei</p>
        </div>
      </div>
    </div>
    <div class="dish-day__foto foto-day">
      <div class="foto-day__elem"></div>
      <picture>
        <source srcset="img/dish-day/01.webp, img/dish-day/01_2x.webp 2x" type="image/webp">
        <img loading="lazy" src="img/dish-day/01.jpg" srcset="img/dish-day/01_2x.jpg 2x" class="foto-day__image foto-day__image--bottom image" width="323" height="486" alt="фото дня">
      </picture>
      <picture>
        <source srcset="img/dish-day/02.webp, img/dish-day/02_2x.webp 2x" type="image/webp">
        <img loading="lazy" src="img/dish-day/02.jpg" srcset="img/dish-day/02_2x.jpg 2x" class="foto-day__image image" width="323" height="486" alt="фото дня">
      </picture>
    </div>
  </div>
</section>
