<section class="home" style="background-image: url(img/home/home-bg.jpg);">
  <div class="home__container container">
    <div class="home__body">
      <div class="home__top">
        <p class="home__text">OPEN EVERYDAY 6AM - 9PM</p>
        <h1 class="home__title">A bad day with lunch is better than a good day without it.</h1>
      </div>
      <div class="home__bottom">
        <button class="home__btn btn btn-reset" data-graph-path="modal-form"><span>Reserve a table</span></button>
        <div class="home__social social-home">
          <ul class="social-home__list list-reset">
            <li class="social-home__item"><a href="#" class="social-home__link">Fb</a></li>
            <li class="social-home__item"><a href="#" class="social-home__link">Ig</a></li>
            <li class="social-home__item"><a href="#" class="social-home__link">Tw</a></li>
            <li class="social-home__item"><a href="#" class="social-home__link">Yt</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
