<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="modal-form">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <form action="#" class="form">
        <h2 class="form__title title-reset">have any questions?</h2>
        <div class="form__top">
          <div class="form__label">
            <label class="form__name" for="">Name</label>
            <input type="text" name="Имя" class="input-reset form__input input-name" placeholder="Имя">
          </div>
          <div class="form__label">
            <label class="form__name" for="">Email</label>
            <input type="email" name="E-mail" class="input-reset form__input input-email" placeholder="E-mail">
          </div>
        </div>
        <div class="form__label">
          <label class="form__name" for="">Speciale Request</label>
          <textarea type="text" name="text" class="input-reset form__input form__textarea" placeholder="Input your special request"></textarea>
        </div>
        <button class="btn-reset form__btn btn"><span>Send</span></button>
      </form>
    </div>
  </div>
</div>
