<section class="reviews" id="about">
  <div class="reviews__container container">
    <div class="swiper reviews-slider">
      <div class="swiper-wrapper">
         <div class="swiper-slide reviews-slider__slide">
          <div class="reviews-slider__body">
            <img class="reviews-slider__icon" src="img/reviews/icon.svg" alt="иконка">
            <h3 class="reviews-slider__title title-reset">Goede service, lekker eten, toffe ambiance</h3>
            <p class="reviews-slider__descr">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo  dolores et ea rebum. Stet clita kasd gubergren.</p>
            <p class="reviews-slider__aftor">ALAIN HEYNDRICKX</p>
          </div>
         </div>
         <div class="swiper-slide reviews-slider__slide">
          <div class="reviews-slider__body">
            <img class="reviews-slider__icon" src="img/reviews/icon.svg" alt="иконка">
            <h3 class="reviews-slider__title title-reset">Goede service, lekker eten, toffe ambiance</h3>
            <p class="reviews-slider__descr">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo  dolores et ea rebum. Stet clita kasd gubergren Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis aperiam sapiente ratione facilis quasi voluptates quod quos quibusdam quaerat culpa! Dolore voluptatibus ipsa fugiat recusandae, reprehenderit tenetur explicabo atque totam.</p>
            <p class="reviews-slider__aftor">ALAIN HEYNDRICKX</p>
          </div>
         </div>
         <div class="swiper-slide reviews-slider__slide">
          <div class="reviews-slider__body">
            <img class="reviews-slider__icon" src="img/reviews/icon.svg" alt="иконка">
            <h3 class="reviews-slider__title title-reset">Goede service, lekker eten, toffe ambiance</h3>
            <p class="reviews-slider__descr">Lorem ipsum dolor sit amet, </p>
            <p class="reviews-slider__aftor">ALAIN HEYNDRICKX</p>
          </div>
         </div>
      </div>
      <div class="slider-button-prev">
        <svg class="arrow-prew">
          <use xlink:href="img/sprite.svg#arrow-prew"></use>
        </svg>
      </div>
      <div class="slider-button-next">
        <svg class="arrow-next">
          <use xlink:href="img/sprite.svg#arrow-prew"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
