//variables
$font-family: "Poppins", sans-serif;

$content-width: 1170px;
$container-offset: 15px;
$container-width: calc($content-width + ($container-offset * 2));

$text-dark-color: #000;
$text-light-color: #FFF;
$bg-color: #E5E5E5;
$akcent-color: #3A4574;
$red-color: #D3B47F;
$border-color: #E7E7E7;
